.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(255,0,0,0.1);
  cursor: grab;
  position: fixed;
  z-index: 0;
}

.canvas-container:active {
  cursor: grabbing;
}

.canvas {
  width: 2000px;
  height: 2000px;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}